body {
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box {
	border: 2px solid black;
	width: 250px;
	height: 250px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}
.box p {
	margin: 5px;
}
input {
	display: block;
	margin-inline: auto;
	width: 230px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	font-size: inherit;
}
